#stackpaneContainer {
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-background-radius: 10;
    -fx-background-color: rgb(78, 78, 78);
    -fx-padding: 5;
}
#stackpaneContainer:clicked {
    -fx-background-color: rgb(50, 50, 50);
}

#stackpaneContainer HBox {
    -fx-alignment: CENTER;
}
#stackpaneContainer HBox:hover {
    -fx-border-color: white;
}

#stackpaneContainer Label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}