TitledPane:error {
    -fx-text-fill: rgb(255, 255, 255);
}
TitledPane:error > .title {
    -fx-background-color: rgb(150, 80, 80);
}

TitledPane ScrollPane {
    -fx-fit-to-width: true;
}

TitledPane ScrollPane VBox {
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 10;
    -fx-padding: 10;
}

TitledPane ScrollPane VBox Label {
    -fx-wrap-text: true;
}


.image-preview {
    -fx-border-color: rgb(78, 78, 78);
    -fx-alignment: CENTER;
    -fx-min-height: 115;
    -fx-max-height: 115;
    -fx-min-width: 140;
    -fx-max-width: 140;
    -fx-padding: 2;
}
.image-preview:hover {
    -fx-border-radius: 10;
}
.image-preview:disabled {
    -fx-border-color: rgb(180, 180, 180);
}
.image-preview:error {
    -fx-border-color: rgb(150, 80, 80);
}

.image-preview ImageView:disabled {
    -fx-opacity: 0.4;
}
